@charset "UTF-8";

body
{
    font-family: sans-serif;
    background-color: #13367D;
    color: #E4E4E4;
    text-align: center;
}

a
{
    text-decoration: none;
    color: inherit;
}

table
{
    text-align: left;
}